{{!< default}}

<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
 styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{@blog.description}}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="{{@blog.url}}">Home</a>
    <a class="sidebar-nav-item" href="{{@blog.url}}/about">About {{ @blog.email }}</a>

    {{! The code below dynamically generates a sidebar nav of posts tagged as static pages. }}
    {{#foreach posts}}
      {{#has tag="page"}}
        <a class="sidebar-nav-item" href="{{ url }}">{{ title }}</a>
      {{/has}}
    {{/foreach}}
  </nav>

  <div class = "sidebar-item">
    <div class = "social">
      <ul>
        <li>
          <a class="btn btn-social-icon btn-twitter-transparent">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a class="btn btn-social-icon btn-facebook-transparent">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a class="btn btn-social-icon btn-github-transparent">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a class="btn btn-social-icon btn-linkedin-transparent">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar-item">
    <p>
      &copy; {{date format="YYYY"}}. All rights reserved.
    </p>
  </div>
</div>

