{{!< default}}

  {{#foreach posts}}
  <article class="{{post_class}} {{#linked_url}}link-post{{/linked_url}}">
      <header class="post-header">
          <h1 class="post-title post-title-index"><a href="{{url}}">{{{title}}}</a>{{#linked_url}} <span class="linkarrow">→</span>{{/linked_url}}</h1>
          <section class="post-meta">
              <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
          </section>
      </header>
      <section class="post-excerpt">
          <p>{{excerpt words="100"}}... </p>
          <br>
          <p><a class="read-more" href="{{url}}"> Continue reading</a></p>
      </section>
  </article>
  {{/foreach}}
</div>

{{! Previous/next page links - displayed on every page }}
{{pagination}}

<p class='align-center'><span class="subscribe"><a href="{{blog.url}}/feed"><i class="fa fa-rss-square"></i> Subscribe</a></span></p>
